<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="sss-testservice-provider"/>
    <!-- 连接到哪个本地注册中心 -->
    <dubbo:registry id="sss" address="zookeeper://localhost:2181"/>
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <!-- TODO 修改一下这里的端口，此为提供服务的进程占用的本地端口号，本地多开时不能重复 -->
    <dubbo:protocol name="dubbo" port="28080"/>
    <!-- 声明需要暴露的服务接口 -->
    <!-- TODO 修改这里的interface和ref属性为你的服务暴露的接口的类名和引用名称 -->
    <dubbo:service registry="sss"
                   timeout="3000"
                   interface="com.yuyuyzl.SSS.ITestService"
                   ref="TestService"/>

    <dubbo:service registry="sss"
                   timeout="3000"
                   interface="com.yuyuyzl.SSS.IDBService"
                   ref="DBService"/>
</beans>